@use 'variables';
@use 'animaciones';
@use 'medias';

header{

    #header_container{
        align-items: center;
        margin: auto;
        align-content: center;
        position: fixed;
        width: 100%;
        height: auto;
        left: 0;
        top: 0;
        z-index: 99;
        background-color: #ffffff;
        display: none;
        grid-template-columns: 1fr 180px 1fr;

        .button_container{
            width: 148px;
            align-self: center;
            justify-self: end;
            clip-path: polygon(10% 0%, 100% 0, 100% 100%, 0% 100%);

            &.seg{
                justify-self: start;
                clip-path: polygon(0% 0%, 90% 0, 100% 100%, 0% 100%);
                .button_slider{
                    text-align: start;
                }
            }
            
            .button_slider {
                
                width: 100%;
                height: 30px;
                background-color: variables.$cuartoColor;
                text-align: end;
                margin-bottom: 5px;
                transition: 0.35s;

                &:nth-child(1):hover , &:nth-child(1):focus{
                    box-shadow: inset 0 0 0 1em variables.$tercerColor;
                }

                &:nth-child(2):hover , &:nth-child(2):focus{
                    animation: pulse 1s;
                    box-shadow: 0 0 0 1em #ffffff00;
                }

                &:nth-child(3):hover , &:nth-child(3):focus{
                    box-shadow: inset -5em 0 0 0 variables.$tercerColor, inset 5em 0 0 0 variables.$tercerColor;
                }
                a{
                    color: variables.$primerColor;
                    text-decoration: none;
                    padding: 10px;
                    line-height: 30px;
                }
            }
        }
        .img_container{
            display: flex;
            justify-self: center;

            img{
                width: 150px;
                height: 150px;
                animation: glitch 1s linear infinite;

            &:before, &:after{

                content: attr(title);
                position: absolute;
                left: 0;
            }
            &:before{
                animation: glitchTop 1s linear infinite;
                clip-path: polygon(0 0, 100%, 100% 33%, 0 33%);
                -webkit-animation-phat: polygon(0 0, 100% 0, 100% 33%, 0 33%);
            }
            &:after{
                animation: glitchBottom 1.5s linear infinite;
                clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
                -webkit-animation-path:  polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
            }
            }
            
        }
    }

    #header_container_burguer{
        display: flex;
        width: 100%;
        height: 100px;
        background-color: variables.$primerColor;
        position: fixed;
        align-items: center;
        justify-content: center;

        .img_container{
            display: flex;
            justify-self: center;
            
            img{
                width: 95px;
                height: 95px;
                animation: glitch 1s linear infinite;

            &:before, &:after{

                content: attr(title);
                position: absolute;
                left: 0;
            }
            &:before{
                animation: glitchTop 1s linear infinite;
                clip-path: polygon(0 0, 100%, 100% 33%, 0 33%);
                -webkit-animation-phat: polygon(0 0, 100% 0, 100% 33%, 0 33%);
            }
            &:after{
                animation: glitchBottom 1.5s linear infinite;
                clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
                -webkit-animation-path:  polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
            }
            }
            
        }

        .menu {
            width: 50px;
            height: 40px;
            position: absolute;
            right: 10px;
            
            .spans{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                cursor: pointer;
                width: 50px;
                height: 40px;

                span{
                    width: 50px;
                    height: 8px;
                    background-color: variables.$segundoColor;
                    border-radius: 10px;
                }
            }
        }
        
        input{
            display: none;
            &:checked + .button_container{
                transform: translateX(100%);
                transition: transform 0.5s ease-in-out;
            }
        }

        .button_container{
            width: 100%;
            height: auto;
            position: absolute;
            top: 100px; left: -100%;
            display: flex;
            flex-direction: column;
            transition: transform 1s ease-in-out;
            
            .button_slider {
                
                width: 100%;
                height: 40px;
                background: variables.$gradiente;
                text-align: center;
                justify-content: center;
                transition: 0.35s;

                &:hover , &:focus{
                    box-shadow: inset 0 0 0 1.4em variables.$tercerColor;
                }
                a{
                    color: variables.$primerColor;
                    text-decoration: none;
                    line-height: 40px;
                }
            }
        }
    }

}