* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-image: linear-gradient(#572483, #9f2483);
  height: 300vh;
  cursor: url(espada.gif), url(espada.cur), default;
}

body {
  width: 100%;
}

a {
  cursor: url(espada.gif), url(espada.cur), default;
}

@keyframes glitch {
  2%, 64% {
    transform: translate(2px, 0) skew(0deg);
  }
  4%, 60% {
    transform: translate(-2px, 0) skew(0deg);
  }
  62% {
    transform: translate(0, 0) skew(5deg);
  }
}
@keyframes glitchTop {
  2%, 64% {
    transform: translate(2px, -2px);
  }
  4%, 60% {
    transform: translate(-2px, 2px);
  }
  62% {
    transform: translate(13px, -1px) skew(-13deg);
  }
}
@keyframes glitchBottom {
  2%, 64% {
    transform: translate(-2px, 0);
  }
  4%, 60% {
    transform: translate(-2px, 0);
  }
  62% {
    transform: translate(-22px, 5px) skew(21deg);
  }
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #e71d73;
  }
}
@keyframes moverNave {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes moverNave2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
header #header_container {
  align-items: center;
  margin: auto;
  align-content: center;
  position: fixed;
  width: 100%;
  height: auto;
  left: 0;
  top: 0;
  z-index: 99;
  background-color: #ffffff;
  display: none;
  grid-template-columns: 1fr 180px 1fr;
}
header #header_container .button_container {
  width: 148px;
  align-self: center;
  justify-self: end;
  -webkit-clip-path: polygon(10% 0%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(10% 0%, 100% 0, 100% 100%, 0% 100%);
}
header #header_container .button_container.seg {
  justify-self: start;
  -webkit-clip-path: polygon(0% 0%, 90% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 90% 0, 100% 100%, 0% 100%);
}
header #header_container .button_container.seg .button_slider {
  text-align: start;
}
header #header_container .button_container .button_slider {
  width: 100%;
  height: 30px;
  background-color: #572484;
  text-align: end;
  margin-bottom: 5px;
  transition: 0.35s;
}
header #header_container .button_container .button_slider:nth-child(1):hover, header #header_container .button_container .button_slider:nth-child(1):focus {
  box-shadow: inset 0 0 0 1em #e71d73;
}
header #header_container .button_container .button_slider:nth-child(2):hover, header #header_container .button_container .button_slider:nth-child(2):focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 1em rgba(255, 255, 255, 0);
}
header #header_container .button_container .button_slider:nth-child(3):hover, header #header_container .button_container .button_slider:nth-child(3):focus {
  box-shadow: inset -5em 0 0 0 #e71d73, inset 5em 0 0 0 #e71d73;
}
header #header_container .button_container .button_slider a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
  line-height: 30px;
}
header #header_container .img_container {
  display: flex;
  justify-self: center;
}
header #header_container .img_container img {
  width: 150px;
  height: 150px;
  animation: glitch 1s linear infinite;
}
header #header_container .img_container img:before, header #header_container .img_container img:after {
  content: attr(title);
  position: absolute;
  left: 0;
}
header #header_container .img_container img:before {
  animation: glitchTop 1s linear infinite;
  -webkit-clip-path: polygon(0 0, 100%, 100% 33%, 0 33%);
          clip-path: polygon(0 0, 100%, 100% 33%, 0 33%);
  -webkit-animation-phat: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}
header #header_container .img_container img:after {
  animation: glitchBottom 1.5s linear infinite;
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
          clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-animation-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}
header #header_container_burguer {
  display: flex;
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  position: fixed;
  align-items: center;
  justify-content: center;
}
header #header_container_burguer .img_container {
  display: flex;
  justify-self: center;
}
header #header_container_burguer .img_container img {
  width: 95px;
  height: 95px;
  animation: glitch 1s linear infinite;
}
header #header_container_burguer .img_container img:before, header #header_container_burguer .img_container img:after {
  content: attr(title);
  position: absolute;
  left: 0;
}
header #header_container_burguer .img_container img:before {
  animation: glitchTop 1s linear infinite;
  -webkit-clip-path: polygon(0 0, 100%, 100% 33%, 0 33%);
          clip-path: polygon(0 0, 100%, 100% 33%, 0 33%);
  -webkit-animation-phat: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}
header #header_container_burguer .img_container img:after {
  animation: glitchBottom 1.5s linear infinite;
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
          clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-animation-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}
header #header_container_burguer .menu {
  width: 50px;
  height: 40px;
  position: absolute;
  right: 10px;
}
header #header_container_burguer .menu .spans {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  width: 50px;
  height: 40px;
}
header #header_container_burguer .menu .spans span {
  width: 50px;
  height: 8px;
  background-color: #1d1d1b;
  border-radius: 10px;
}
header #header_container_burguer input {
  display: none;
}
header #header_container_burguer input:checked + .button_container {
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}
header #header_container_burguer .button_container {
  width: 100%;
  height: auto;
  position: absolute;
  top: 100px;
  left: -100%;
  display: flex;
  flex-direction: column;
  transition: transform 1s ease-in-out;
}
header #header_container_burguer .button_container .button_slider {
  width: 100%;
  height: 40px;
  background: linear-gradient(90deg, rgb(231, 29, 115) 0%, rgb(87, 36, 131) 60%);
  text-align: center;
  justify-content: center;
  transition: 0.35s;
}
header #header_container_burguer .button_container .button_slider:hover, header #header_container_burguer .button_container .button_slider:focus {
  box-shadow: inset 0 0 0 1.4em #e71d73;
}
header #header_container_burguer .button_container .button_slider a {
  color: #ffffff;
  text-decoration: none;
  line-height: 40px;
}

.naves {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.naves-cont {
  position: relative;
  width: 100%;
  height: 100vh;
}
.naves .nave {
  position: absolute;
  height: 100%;
  width: 50%;
}
.naves .nave img {
  width: 70px;
}
@media screen and (max-width: 768px) {
  .naves .nave img {
    width: 40px;
  }
}
.naves .nave-1 {
  left: 0;
  animation: moverNave 2s ease-in-out infinite;
}
.naves .nave-2 {
  top: 100%;
  right: 0;
  animation: moverNave2 2s ease-in-out infinite;
}
.naves .nave-2 img {
  position: inherit;
  right: 0;
}/*# sourceMappingURL=styles.css.map */